<div class="random" id="badges">
  <div class="random-content">
    <img src="88x31/247.gif" alt="nishina gif" loading="lazy"/>
    <img src="88x31/btw.png" alt="i use debian btw" loading="lazy"/>
    <img src="88x31/fe.gif" alt="5 nays to 5 eyes" loading="lazy"/>
    <img src="88x31/ie11.png" alt="A warm welcome to our IE11 users" loading="lazy"/>
    <img src="88x31/jsn.gif" alt="Just say no to software bloat" loading="lazy"/>
    <img src="88x31/mh.gif" alt="Certified mostly harmless" loading="lazy"/>
    <img src="88x31/salt.gif" alt="Salt your passwords, OR ELSE!" loading="lazy"/>
  </div>
  <a href="/#archive">More random stuff</a>
</div>
