<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 page not found</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    [[ component:dark-mode-checkbox ]]
    <div id="main">
      <h1>404: Page Not Found</h1>
      <p>Return to <a href="/">Main Page</a>?</p>
      <p>Eventually, there will probably be something interesting here. For now, just use your imagination.<p>
    </div>
  </body>
</html>
