<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>prussia fan club</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="alternate" type="application/atom+xml" title="atom/rss feed for prussia fan club" href="/atom.xml"/>
  </head>
  <body>
    [[ component:dark-mode-checkbox ]]
    <div id="main">
      <div>
        <input id="fancy-title" type="checkbox"/><label for="fancy-title">Fancy Title</label>
        <br>
        <h2>prussiafan.club</h2>
        <br>
        <p>This is my blog. I also have a <a href="https://prussia.dev">portfolio</a>, <a href="https://prussia.dev/retro">retro style personal website</a>. I like free software, privacy, yada yada.</p>
      </div>
      <div>
        <ul>
          [[ for:posts:post ]]
            [[ component:post-listing ]]
          [[ endfor ]]
        </ul>
      </div>
      <div>
        [[ component:random/badges ]]
        [[ component:random/archive ]]
        [[ component:random/quote1 ]]
        [[ component:random/quote2 ]]
        [[ component:random/minesweeper ]]
        [[ component:random/wikipedia ]]
        [[ component:random/quote3 ]]
        [[ component:random/quote4 ]]
        [[ component:random/quote5 ]]
        [[ component:random/rss ]]
        [[ component:random/email ]]
        <a id="ciran" href="/#badges">See some random stuff</a>
      </div>
    </div>
  </body>
</html>
