<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>prussia fan club</title>
  </head>
  <body>
    <div>
      <ul>
        [[ for:posts:post ]]
          [[ component:post-listing ]]
        [[ endfor ]]
      </ul>
    </div>
    <div>
      <p>This is my blog. I also have a <a href="https://prussia.dev">portfolio</a>, <a href="https://prussia.dev/retro">retro style personal website</a>, and a place where you can <a href="https://prussia.dev/sample">hire me</a>.</p>
    </div>
  </body>
</html>