h2 {
  display: inline-block;
}

#fancy-title:checked ~ h2 {
  color: white;
  padding-right: 4px;
  background-color: dodgerblue;
  text-shadow: 1px 1px 1px gray, 4px 4px 1px blue;
}

#checkboxes {
  position: relative;
  top: 0;
  left: 0;
}

.random {
  margin-top: 10px;
  display: none;
}

.random:target {
  display: block;
}

.random:target ~ #ciran {
  display: none;
}

.random-content {
  min-height: 40px;
}
