h2 {
  display: inline-block;
}

#fancy-title:checked ~ h2 {
  color: white;
  padding-right: 0px 4px;
  background-color: dodgerblue;
  text-shadow: 1px 1px 1px gray, 4px 4px 1px blue;
}

#checkboxes {
  position: relative;
  top: 0;
  left: 0;
}
