<style>
  blockquote  {
    margin: 0;
    margin: 8px 0px;
    padding: 4px 8px 4px 0px;
    border-left: 8px solid #727272;
    padding-left: 8px;
  }

  .code-block, code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
  }

  .code-block {
    color: #222;
    background-color: #d8d8d8;
    padding: 2px 4px;
    word-break: break-all;
    border-radius: 3px;
  }

  pre {
    white-space: pre-wrap;
  }

  img {
    max-width: 85%;
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 2px 5px;
    border: 1px solid black;
  }

  sup {
    font-size: 0.75rem;
  }
</style>